header {
  display: block;
  width: 100%;
  height: 60px;
  background: #121212;
}

header .wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 980px;
  padding-left: 20px;
}

header .wrap .logo,
header .wrap .heading {
  display: block;
  width: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .wrap .heading {
  color: white;
  z-index: 1000;
  width: max-content;
  left: 80px;
}

header .wrap .logo img {
  display: block;
  width: 100%;
  margin: 0;
}
