.main {
  padding: 20px;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.col {
  display: table-cell;
  border-color: gray;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  padding: 20px;
}

.col:first-child {
  border-width: 1px;
}
